strong{
    font-size: 19px;
    color: #555;
}
.delivery-view-title{
    font-weight: 700;
    color: #0d6efd;
}
.add-delivrable-title,
.deliverables-title,
.actions-title{
    color: #0d6efd;
    font-weight: 600;
}
.deliverable-link{
    text-decoration: none;
    color: black;
}
.deliverable-link:hover{
    color: black;
}
.cross{
    position: absolute;
    top: 10px;
    right: 10px;
}
.cross i{
    font-size: 25px;
}
.fa-file{
    font-size: 100px;
    color: blue;
}
.file-logo{
    height: 150px;
    width: 150px;
    filter: invert(37%) sepia(67%) saturate(6682%) hue-rotate(213deg) brightness(104%) contrast(97%);
}
.deliverables-title{
    font-weight: 700;
}
.media p{
    font-size: 17px;
}
.livrable-card-view{
    border: none;
    box-shadow: 5px 5px 5px #d1d9e6, -5px -5px 5px #f9f9f9;
}
#myImg{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* The Modal (background) */
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  /* Modal Content (Image) */
.modal-content{
    margin: auto;
    display: block;
    width: 90%;
    max-width: 700px;
  }

  /* The Close Button */
.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
.close:focus{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}