.navbar-expand{
    /* background-color: #f2f2f2; */
    background-color: #fff;
    box-shadow: 0 -1px 4px 0 rgba(26,26,26,.08),0 4px 8px 0 rgba(26,26,26,.12);
}

.navbar-brand img{
    height: 40px;
}

.nav-link,
.nav-user{
    color: 	#54534f  ;
    font-weight: 600;
    cursor: pointer;
    font-size: 24px ;
}

.nav-user{
    text-transform: capitalize;
}

.logout-link{
    text-decoration: none;
}

.title-logout{
    font-size: 1.1em !important;
    font-weight: 600;
}

.logout-logo{
    font-size: 16px !important;
}